### Classifying Habitable and Non-Habitable Exoplanets

This notebook is dedicated to exploring the HWC data (as of 21 Feb 2025) from https://phl.upr.edu/hwc/data.

Reference: Machine Learning for Physics and Astronomy | Lecture Notebook with Copyright: Viviana Acquaviva (2023)

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# Data Preparation
csv_path = "datasets\hwc.csv"

df = pd.read_csv(csv_path)
df.head()

,P_NAME,P_DETECTION,P_DISCOVERY_FACILITY,P_YEAR,P_UPDATE,P_MASS,P_MASS_ERROR_MIN,P_MASS_ERROR_MAX,P_MASS_LIMIT,P_MASS_ORIGIN,...,S_ABIO_ZONE,S_TIDAL_LOCK,P_HABZONE_OPT,P_HABZONE_CON,P_TYPE_TEMP,P_HABITABLE,P_ESI,S_CONSTELLATION,S_CONSTELLATION_ABR,S_CONSTELLATION_ENG
0,OGLE-2016-BLG-1227L b,Microlensing,OGLE,2020,2020-04-02,250.00,-120.0,413.0,0,Mass,...,NaN,0.214133,0,0,NaN,0,NaN,Scorpius,Sco,Scorpion
1,Kepler-276 c,Transit,Kepler,2013,2018-09-25,16.60,-3.6,4.4,0,Mass,...,2.097783,0.316980,0,0,Hot,0,0.272032,Cygnus,Cyg,Swan
2,Kepler-829 b,Transit,Kepler,2016,2019-04-16,5.10,NaN,NaN,0,M-R relationship,...,1.756317,0.459559,0,0,Hot,0,0.254763,Lyra,Lyr,Lyre
3,K2-283 b,Transit,K2,2018,2019-09-05,12.20,NaN,NaN,0,M-R relationship,...,0.568374,0.443760,0,0,Hot,0,0.193906,Pisces,Psc,Fishes
4,Kepler-477 b,Transit,Kepler,2016,2019-04-16,4.94,NaN,NaN,0,M-R relationship,...,0.768502,0.386150,0,0,Hot,0,0.276721,Lyra,Lyr,Lyre

In [4]:
df.columns

Index(['P_NAME', 'P_DETECTION', 'P_DISCOVERY_FACILITY', 'P_YEAR', 'P_UPDATE',
       'P_MASS', 'P_MASS_ERROR_MIN', 'P_MASS_ERROR_MAX', 'P_MASS_LIMIT',
       'P_MASS_ORIGIN',
       ...
       'S_ABIO_ZONE', 'S_TIDAL_LOCK', 'P_HABZONE_OPT', 'P_HABZONE_CON',
       'P_TYPE_TEMP', 'P_HABITABLE', 'P_ESI', 'S_CONSTELLATION',
       'S_CONSTELLATION_ABR', 'S_CONSTELLATION_ENG'],
      dtype='object', length=118)

In [5]:
df.describe()

,P_YEAR,P_MASS,P_MASS_ERROR_MIN,P_MASS_ERROR_MAX,P_MASS_LIMIT,P_RADIUS,P_RADIUS_ERROR_MIN,P_RADIUS_ERROR_MAX,P_RADIUS_LIMIT,P_PERIOD,...,S_HZ_CON0_MAX,S_HZ_CON1_MIN,S_HZ_CON1_MAX,S_SNOW_LINE,S_ABIO_ZONE,S_TIDAL_LOCK,P_HABZONE_OPT,P_HABZONE_CON,P_HABITABLE,P_ESI
count,5599.000000,5592.000000,2506.000000,2506.000000,5599.000000,5592.000000,3847.000000,3847.000000,5599.000000,5.350000e+03,...,5366.000000,5366.000000,5366.000000,5366.000000,5.376000e+03,5595.000000,5599.000000,5599.000000,5599.000000,5358.000000
mean,2016.188962,442.521283,-127.777520,174.465166,0.022861,5.715494,-0.432279,0.544259,-0.000714,7.994082e+04,...,2.301153,1.239781,2.301153,3.596167,1.014471e+35,0.425790,0.047151,0.033577,0.019825,0.257089
std,4.527714,2369.505048,383.670428,625.151645,0.160982,5.331450,0.960669,1.568228,0.026721,5.498596e+06,...,4.587874,2.390133,4.587874,6.741964,5.259131e+36,0.077064,0.211981,0.180155,0.184617,0.131622
min,1992.000000,0.020000,-6038.739700,0.000000,-1.000000,0.310000,-32.506000,0.000000,-1.000000,9.070629e-02,...,0.001910,0.000911,0.001910,0.002434,4.356319e-05,0.029269,0.000000,0.000000,0.000000,0.023896
25%,2014.000000,4.040000,-73.100900,2.712500,0.000000,1.780000,-0.480000,0.130000,0.000000,4.465382e+00,...,1.060687,0.568834,1.060687,1.615711,4.781093e-01,0.391256,0.000000,0.000000,0.000000,0.186192
50%,2016.000000,8.750000,-19.069800,20.000000,0.000000,2.780000,-0.220000,0.280000,0.000000,1.156951e+01,...,1.561742,0.854147,1.561742,2.502441,1.361846e+00,0.443760,0.000000,0.000000,0.000000,0.268055
75%,2020.000000,162.092490,-2.542630,85.813670,0.000000,11.900000,-0.110000,0.581500,0.000000,4.150555e+01,...,2.364700,1.299225,2.364700,3.873593,2.556535e+00,0.470516,0.000000,0.000000,0.000000,0.301299
max,2024.000000,89700.000000,0.000000,12395.308000,1.000000,77.342000,0.000000,68.910000,0.000000,4.020000e+08,...,120.348830,67.331558,120.348830,214.468620,2.726899e+38,1.003328,1.000000,1.000000,2.000000,0.968362

In [6]:
df.groupby("P_HABITABLE").count()

,P_NAME,P_DETECTION,P_DISCOVERY_FACILITY,P_YEAR,P_UPDATE,P_MASS,P_MASS_ERROR_MIN,P_MASS_ERROR_MAX,P_MASS_LIMIT,P_MASS_ORIGIN,...,S_SNOW_LINE,S_ABIO_ZONE,S_TIDAL_LOCK,P_HABZONE_OPT,P_HABZONE_CON,P_TYPE_TEMP,P_ESI,S_CONSTELLATION,S_CONSTELLATION_ABR,S_CONSTELLATION_ENG
P_HABITABLE,,,,,,,,,,,,,,,,,,,,,
0,5529,5529,5529,5529,5529,5522,2471,2471,5529,5529,...,5296,5306,5525,5529,5529,5295,5288,5529,5529,5529
1,29,29,29,29,29,29,16,16,29,29,...,29,29,29,29,29,29,29,29,29,29
2,41,41,41,41,41,41,19,19,41,41,...,41,41,41,41,41,41,41,41,41,41